################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/30/classwork/1/node_modules/express
/30/classwork/2/node_modules/express
/30/classwork/3/node_modules
/30/homework/1/node_modules/express
/30/homework/2/node_modules/express
/30/homework/3/node_modules/express
/31/classwork/1/node_modules
/31/classwork/2/node_modules
/31/classwork/3/node_modules
/31/homework/1/node_modules
/31/homework/2/node_modules
/32/classwork/1/node_modules
/32/classwork/2/node_modules
/32/homework/1/node_modules
/32/homework/2/node_modules
/34/classwork/1/node_modules
/34/classwork/2/node_modules
/34/homework/1/node_modules
/34/homework/2/node_modules
/33/classwork/1/node_modules
/33/classwork/2/node_modules
/33/classwork/3/node_modules
